export(deriv12)
export(dgumbel)
export(drop.coef)
export(gcauchy)
export(ggumbel)
export(glogis)
export(gnorm)
export(gradient)
export(hessian)
export(pgumbel)
export(qgumbel)
export(rgumbel)
useDynLib(Rufus)
